@use "../abstracts/variables" as variables;

.bg-image {

  min-height: 280px;

  background-color: variables.$black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &.fill {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;

    border-bottom-left-radius: variables.$rounding-lg;
    border-top-left-radius: variables.$rounding-lg;

  }

}