@use "../abstracts/variables" as variables;

.button, button {

  white-space: nowrap;
  transition: variables.$timing-instant;
  background-color: variables.$color-primary;
  outline: none;
  border: none;
  padding: variables.$spacing-xs variables.$spacing-sm;
  color: variables.$off-white;
  display: inline-block;

  font-weight: 600;
  font-size: 20px;

  &.large {
    font-size: 22px;
  }

  &:hover {
    cursor: pointer;
    background-color: variables.$color-primary-offset-2;
    color: variables.$black
  }
}

