// Colours
$color-primary: #6302c5;
$color-primary-offset-1: #8d4bd3;
$color-primary-offset-2: #b17ee1;

$color-secondary: #6302c5;
$color-secondary-offset-1: #8d4bd3;
$color-secondary-offset-2: #b17ee1;

$color-tertiary: #6302c5;
$color-tertiary-offset-1: #8d4bd3;
$color-tertiary-offset-2: #b17ee1;

// Shades
$white: #ffffff;
$off-white: #fefefe;
$black: #000000;
$off-black: #0f0f0f;
$grey-light: #212529;
$grey: #717171;
$grey-dark: #212529;

// Spacing
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 32px;
$spacing-lg: 64px;
$spacing-xl: 128px;

// Screen Sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

// Container Sizes
$container-size: 1050px;
$container-gutter: 15px;

// Radii
$rounded: 100%;
$rounding-sm: $spacing-sm;
$rounding-md: $spacing-md;
$rounding-lg: $spacing-lg;

// Fonts
$font-primary: 'Dosis', sans-serif;
$font-secondary: 'Dosis' ,sans-serif;