@use "../abstracts/variables" as variables;

.header-container {
  display: grid;
  grid-template-columns: minmax(variables.$container-gutter, 1fr)minmax(0, variables.$container-size) minmax(variables.$container-gutter, 1fr);
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px variables.$spacing-xs;
  grid-auto-flow: row;
}

.right-half {
  grid-area: 1 / 3 / 2 / 5;
}

.info {
  grid-area: 1 / 2 / 2 / 3;
}

.left-half {
  grid-area: 1 / 1 / 2 / 3;
}
