.round-layout {

  background: $grey-dark;
  background: linear-gradient(126deg, $grey-light 0%, $grey-dark 62%);

  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: minmax($container-gutter, 1fr) repeat( 2, minmax( 0, calc($container-size / 2 ) ) ) minmax($container-gutter, 1fr);
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px $spacing-xs;
  grid-auto-flow: row;

  @media (min-width: $screen-lg) {
    gap: 0px $spacing-md;
  }

  .info {
    grid-area: 1 / 2 / 2 / 3;

    color: $off-white;
  }

  .right-half { grid-area: 1 / 3 / 2 / 5; }
}

