@use "../abstracts/variables" as variables;

.round-layout {

  background: variables.$grey-dark;
  background: linear-gradient(90deg, variables.$grey-light 0%, variables.$grey-dark 62%);

  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: minmax(variables.$container-gutter, 1fr) repeat( 2, minmax( 0, calc(variables.$container-size / 2 ) ) ) minmax(variables.$container-gutter, 1fr);
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px variables.$spacing-xs;
  grid-auto-flow: row;

  @media (min-width: variables.$screen-lg) {
    gap: 0px variables.$spacing-md;
  }

  .info {
    grid-area: 1 / 2 / 2 / 3;

    color: variables.$off-white;
  }

  .right-half { grid-area: 1 / 3 / 2 / 5; }

  &.in-game {
    .bg-image {
      background-color: transparent;
      background-position: center right;
      background-size: contain;
    }
  }
}

