@use "../abstracts/variables" as variables;


body {
  font-family: variables.$font-secondary;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: variables.$spacing-md;

  @media (min-width: variables.$screen-md) {
    margin-bottom: variables.$spacing-lg;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: variables.$font-primary;
  line-height: 1;

}

h1, h2, h3 {

}

h4, h5, h6 {

}

h1 {
  font-size: 42px;
}

p {
  font-size: 18px;
}
